main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

.product-image {
  height: 200px; /* Fixed height */
  object-fit: cover; /* Ensures the image covers the area without distortion */
  width: 100%; /* Ensures the image takes up the full width of the card */
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-content {
  display: flex;
  height: 500px; /* Adjust height as needed */
}

.carousel-image-wrapper {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures image is cropped and centered */
}

.carousel-text-wrapper {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  padding: 20px;
}

.carousel-caption {
  margin: 0;
  padding: 0;
}


